<%- include('../partials/header') %>
    <h3>Worth playin' for?</h3>
      <table id= "list" class="table table-bordered table-dark">
          <tr>
            <th scope="col">Season</th>
            <th scope="col">Air Date:</th>
            <th scope="col">Season Details:</th>
          </tr>
        </thead>
        <tbody>
          <% seasons.forEach(function(s) { %>
            <tr class="season-info">
              <td><%= s.name %></td>
              <td><%= s.airDate %></td>
              <td><a id="seasonDetails" style="color:#69dfea" href="/seasons/<%= s._id %>">That's how you do it on survivor.</a> </td>
            </tr>
            <% }); %>
          </tbody>
        </table>

<%- include('../partials/footer') %>