<%- include('../partials/header') %>

<table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number</th>
        <th>Winner</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= season.name %></td>
        <td><%= season.season %></td>
        <td><%= season.winner %></td>

      </tr>

<%- include('../partials/footer') %>