<%- include('../partials/header') %> 

<form id="postMessage" action="/messages" method="POST">
    <div class="form-group">
        <label>Message Title:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="1" name= "title"></textarea>
        <label for="exampleFormControlTextarea1">Post Your Message:</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name= "body"></textarea>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
</form>

<% messages.forEach(message => { %>
    <div class="card">
        <div class="card-header" name="title">
          <%= message.title %>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= message.body %></p>
            <footer class="blockquote-footer"><%= message.postedBy %> <cite title="Source Title"><%= message.createdAt.toLocaleTimeString() %></cite></footer>
          </blockquote>
          <br>
          <a href="/messages/<%= message._id %>" class="btn btn-primary">See More</a>
        </div>
    </div>
<% }) %> 

<%- include('../partials/footer') %>