<%- include('../partials/header') %>
    <h2>Worth playin' for?</h2>
    <div class="card" style="width: 18rem;">
        <img src="<%= user.avatar ? user.avatar : 'http://theoldreader.com/kittens/300/300/' %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text"><%= user.email %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Member Since: <%= user.createdAt.toLocaleString() %></li>
          <% if (user.tribe) { %>
          <li class="list-group-item"><%= user.tribe %></li>
          <% } %>
        </ul>
        <div class="card-body">
          <a href="/users/<%= user.id %>" class="card-link">Finish Your Profile!</a>
        </div>
      </div>
      <br>
      <h2>Change your profile</h2>
      <form action="/users/<%= user.id %>?_method=PUT" method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">User Avatar Img Link:</label>
          <input type="text" name="avatar" value="<%= user.avatar %>" class="form-control" id="exampleFormControlInput1" placeholder="https://images2.minutemediacdn.com/image/fetch/w_736,h_485,c_fill,g_auto,f_auto/https%3A%2F%2Fsurvivingtribal.com%2Ffiles%2F2019%2F05%2Fsurvivor-logo-850x560.jpg">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Choose your tribe:</label>
          <select name="tribe" value="<%= user.tribe %>" class="form-control" id="exampleFormControlSelect1">
            <option value="Brains">Brains</option>
            <option value="Brawn">Brawn</option>
            <option value="Beauty">Beauty</option>
            <option value="Heroes">Heroes</option>
            <option value="Villains">Villains</option>
            <option value="Healers">Healers</option>
            <option value="Hustlers">Hustlers</option>
            <option value="Davids">Davids</option>
            <option value="Goliaths">Goliaths</option>
          </select>
          <br>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
        </div>
<%- include('../partials/footer') %>