<%- include('../partials/header') %>
    <h2>Worth playin' for?</h2>
    <div class="card" style="width: 18rem;">
        <img src="<%= user.avatar ? user.avatar : 'http://theoldreader.com/kittens/300/300/' %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= user.name %></h5>
          <p class="card-text"><%= user.email %></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Member Since: <%= user.createdAt.toLocaleString() %></li>
          <% if (user.tribe) { %>
          <li class="list-group-item"><%= user.tribe %></li>
          <% } %>
        </ul>
      </div>
      <br>
      <h2>Change your profile</h2>
      <form action="/users/profile?_method=PUT" method="POST">
        <div class="form-group">
          <label for="exampleFormControlInput1">User Avatar Img Link:</label>
          <input type="text" name="avatar" class="form-control" id="exampleFormControlInput1" value=<%= user.avatar  %>>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Choose your tribe:</label>
          <select name="tribe" class="form-control" id="exampleFormControlSelect1" value=<%= user.tribe %> >
            <option value="Brains">Brains</option>
            <option value="Brawn">Brawn</option>
            <option value="Beauty">Beauty</option>
            <option value="Heroes">Heroes</option>
            <option value="Villains">Villains</option>
            <option value="Healers">Healers</option>
            <option value="Hustlers">Hustlers</option>
            <option value="Davids">Davids</option>
            <option value="Goliaths">Goliaths</option>
          </select>
          <br>
          <button type="submit" class="btn btn-info">Submit</button>
        </form>
        </div>
<%- include('../partials/footer') %>