<%- include('../partials/header') %>

<h3><%= title %></h3>
<h5>You are going to have to dig deep</h5>

<div class="card" style="width: 18rem;">
  <img id="avatarPhoto" style="height: 18rem;" class="card-img-top" src="<%= userInfo.avatar ? userInfo.avatar : 'http://theoldreader.com/kittens/300/300/'  %>" alt="Card image cap">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= userInfo.name %> <span class="badge badge-secondary"><%= userInfo.tribe %></h5>
    <p class="card-text">Castaway Since: <%= userInfo.createdAt.toLocaleString().split(',')[0] %></p>
    <p class="card-text">Email: <a href="mailto:<%= userInfo.email %>"><%= userInfo.email %></a></p>
    <% if (userInfo.allianceMembers.length) { %>
    <p class="card-text">Alliance Members: </p>
        <% userInfo.allianceMembers.forEach(a => { %>
            <a href="/users/<%= a._id %>"><%= a.name %></a><br>
            <% }) %>
    <!-- This is where we'll iterate over the games with a forEach -->
    <!-- This is where we'll render buttons to add/remove a user as a friend -->
    <% } %>
    <% if (!userInfo._id.equals(user._id) && !user.allianceMembers.includes(userInfo._id)) { %>
        <a href="/users/<%= userInfo._id %>/alliance" class="btn btn-warning">Join Alliance</a>
      <% } %>
      <% if (!userInfo._id.equals(user._id) && user.allianceMembers.includes(userInfo._id)) { %>
        <a href="/users/<%= userInfo._id %>/betray" class="btn btn-danger">Betray</a>
      <% } %>
  </div>
</div>

<%- include('../partials/footer') %>